.time {
    width: 20%;
}

.delete{
    width: 5%;
}

.thing {
    width: 70%
}

.wrapper {
    justify-content: space-between;
    display: flex;
}

.thing {
    display: flex;
}

.completed {
    color: red;
}

input{
    width: 80%;
}