.note-exit-active {
    animation: note 1s ease-out forwards;
}

@keyframes note {
    0% {
      transform: translateY(0);
    }

    30% {
        opacity: .7;
        transform: translateY(30px);
    }

    100% {
        opacity: 0;
        transform: translateY(-200px);
    }
}